.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**
.gitignore
.gitmodules
.eslintrc.json
tsconfig.json
tslint.json
vsc-extension-quickstart.md
aw-client-js/src/**
aw-client-js/test/**
aw-client-js/node_modules/**
aw-client-js/.git/**
aw-client-js/.gitignore
aw-client-js/.travis.yml
aw-client-js/tsconfig.json
aw-client-js/package-lock.json
aw-client-js/README.md
**/*.ts
!out/**/*.js
